html, body {
	height: 100%;
	width: 100%;
}

.name_style {
	text-align: center;
	background-color: #9966FF;
	height: 100 !important;
	width: 100%;
	margin: 0;
	font-size: 50px;
	line-height: 2em;
	color: #000000;
}

.custom_container {
	margin: 0;
	height: 100%;
	width: 100%;
	background-image: url(../img/longs.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
